<div class="subView">
  <h3>Produktmerkmale</h3>
  <p>
      AlarmNotify ist die zentrale Systemeinheit, hier laufen die Informationen der
      Steuerungen zusammen. Mit „AlarmNotify" lassen sich Warnungen und Fehler direkt per Push-Benachrichtigung melden und können vom Service-Team bearbeitet werden. d leitet alle Alarm-
      und Störmeldungen an die verantwortlichen Personen weiter. Die Konfiguration erfolgt mit einer
      komfortablen PC-Software. Für den Anschluss der Geräte stehen zwei Varianten zur Auswahl
  </p>
</div>
